# ignore files related to api keys
.env

# ignore all text files 
*.txt

# ignore pycache
__pycache__/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg